<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}

    {% block content %}
        <p>Topico: {{ topic }}</p>

        <p>Descricao: </p>

        <p><a href="{% url 'new_entry' topic.id %}">Adicione uma descricao</a></p>
        <ul>
            {% for entry in entries %}
                <li>
                    <p>{{ entry.date_added | date:'M d, Y H:i'}}</p>   <!--Filtrar a data-->
                    <p>{{ entry.text | linebreaks }}</p>
                </li>
            {% empty %}
                <li>
                    Nao ha registos.
                </li>
            {% endfor %}
        </ul>
    {% endblock content %}
</body>
</html>